{
	"tabWidth": 8,
	"printWidth": 160,
	"useTabs": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],

	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
